<% cache [ photo, Current.user ] do %>
  <li class="photo" id="<%= dom_id(photo) %>">
    <img src="<%= photo.src_medium %>" alt="<%= photo.alt %>" class="photo-image">
    <div class="photo-meta">
      <p class="photographer"><%= photo.photographer %></p>
      <a href="<%= photo.source_url %>" target="_blank" rel="noopener" class="source-link">
        <%= image_tag "links.svg", alt: "Source", class: "icon" %>
      </a>
      <%= render "like", photo: photo, liked: liked_photo_ids.include?(photo.id) %>
    </div>
    <% if photo.uploader == Current.user %>
      <div class="photo-actions">
        <%= link_to "Edit", edit_photo_path(photo), class: "photo-action-link" %>
        <%= button_to "Delete", photo_path(photo), method: :delete, class: "photo-action-button", form: { data: { turbo_confirm: "Delete this photo?" } } %>
      </div>
    <% end %>
  </li>
<% end %>
